html{
  scroll-behavior: smooth;
}

body{
background-color: white
font-size: 18px;
margin: 0;
padding: 0;

}


h1{
  font-family: "Raleway";
  color: #008571;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.15;
  padding: 50px 0;
  text-align: left;
}


#name{
  font-family: "Raleway";
  color: black;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.15;
  padding: 20px 0;
  text-align: left;
}
#human_ex{
  font-family: "Raleway";
  color: black;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.15;
  padding: 20px 0;
  text-align: left;
}

#rhea{
  color: #008571;

}

#rhea:after {
  content:"Elevate";
  animation: rhea 5s linear infinite;
  transition-timing-function: ease-in;
  transition: 0.3s;
}

@keyframes rhea {
  0% { content:"Elevate"; }
  10% { opacity: 0; }
  20% { opacity: 0;}
  30% { content: "Enhance";  opacity: 1; }
  40% { opacity: 0;}
  50% {  opacity: 0; }
  60% {content: "Empower";  opacity: 1; }
  70% { opacity: 0;  }
  80% { opacity: 0;}
  90% { opacity: 0; }
}

h2{
  font-size: 32px;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
  font-family: "Raleway"
}

h3{
  font-size: 25px;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
  font-family: "Raleway"
}
p{
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-family: "Georgia"
}

.nav{
  position: sticky;
  top:0;
}

nav ul{
  list-style-type: none;
  padding-left: 80px;
}

nav li{
  display: inline;
  padding-right: 100px;
  padding-bottom: 20px;
}

nav a{
  color: white;
  /* font-weight: lighter; */
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

nav a:active{
  text-decoration: underline;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position:  absolute ;
  top:   -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a:focus{
  top: 0px;
}

:focus{

  border: 2px solid white;
}


/* a:active{
  border:  2px solid white;
} */
footer{
  background-color: #008571;
  color: white;
  grid-column: 1 / -1;
  grid-row: 10 /auto;
  padding-top: 30px;
  text-align: center;
  padding-left: 50px;

}

.container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 15px;
  width: 100vw;
}


.intro{
  grid-column: 1/-1;
  grid-row: 2/3;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}
.project_section{
  background-color: white;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-left: 30px;
  padding-right: 30px;

}

.about_section{
  background-color: white;
  color: black;
  grid-column: 1/-1;
  grid-row: 7/8;
  padding-left: 30px;
  padding-right: 30px;

}

.face{
  grid-column: 1/-1;
  grid-row: 8/9;
  padding-left:250px;
  margin-top: -400px;
  margin-bottom: 100px;

}

#headshot{
  padding-top: 400px;
  margin-left: -100px;
  width: 200px;
  height:200px;
}

.contact_form{
  background-color: white;
  color: black;
  grid-column: 1/-1;
  grid-row: 9/auto;
  padding-left: 30px;
  padding-right: 30px;
}
.nav{
  font-family: "Raleway";
  font-weight: lighter;
  color: white;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-color: #008571;
  padding-left: 20px 0;
  text-align: left;

}

.case_study{
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: white;
}

.ddd_project{
  background-color: white;
  grid-column: 1/-1;
  grid-row: 4/5;
  padding-left: 20px;

}

.redgate_project{
  background-color: white;
  grid-column: 1/-1;
  grid-row: 5/6;
  padding-left: 20px;
}

.decoded_project{
  background-color: white;
  grid-column: 1/-1;
  grid-row: 6/7;
  padding-left: 20px;
}
.project_titles{

  color: #008571;
  text-align: center;
  /* grid-column: 1/-1; */
  padding-left: 10px;
}

.title_desc{
  margin-right: 30px;
}

#ddd_title{
  padding-right: 120px;
}
#decoded_title{
  padding-right: 120px;
}
#redgate_title{
  padding-right: 120px;
}

.project_description{
  text-align: center;
  /* grid-column: 1/-1; */
  padding-left: 10px;
}
.project_link{
  text-align: center;
  color: #008571;
  text-decoration: none;
  padding-left: 190px;
  font-family: "Raleway";
  font-size: 16px;


}

.project_link:hover{
  /* -webkit-transform: scale(1.5); */
  /* transform: scale(5.5); */
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  font-size: 20px;
  font-family: "Raleway"

}

.photos{
  grid-column: 1/-1;
  grid-row: 2/3;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
}

iframe{
  grid-column: 1 / -1;
  height:450px;
  width:600px;
  border: none;
}

/* img{
  grid-column: 1/-1;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 30px;
} */

.laptop{
  grid-column: 1/-1;
  padding-top: 50px;
  padding-left: -150px;
  padding-right: 150px;
  margin: 0 auto;
}



#redgate_outcome{
  grid-column: 1/-1;
  width:500px;
  height:350px;
  margin: 0 auto;
}

.ddd_outcome{
  grid-column: 1/-1;
  width:480px;
  height:370px;
  margin: 0 auto;

}
.row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  justify-content: space-around;
  background-color: white;
}

.row img {
  margin-top: 8px;
  margin-left: 30px;
  vertical-align: middle;
  width: 90vw;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
  background-color: #008571;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #022B25;
  /* -webkit-transform: scale(1.5);
  transform: scale(1.5); */

}

.contact_form {
  border-radius: 5px;
  background-color: #F0F0F0;
  padding: 20px;

  padding-right: 20px;
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin-top: 30px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: #008571;
  color: white;
  transform: rotateY(180deg);
  padding-bottom:
}

@media screen and (min-width: 600px){
  .row{
    flex-direction:row;
  }

  .row img{
    width:45vw;
  }

  .intro{
    /* padding-right: 100px; */
    padding-right: 80px;
    padding-bottom: 300px;
    padding-top: 100px;
  }

  .container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    /* grid-row-gap: 15px;
    width: 100vw; */
  }

  .ddd_project{
    grid-column: 1/2;
    grid-row: 4/5;

  }
  .decoded_project{
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .redgate_project{
    grid-column:1/2;
    grid-row:5/6;
  }

  .case_study{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;

  }



}

@media screen and (min-width: 800px){
  .row{
    flex-direction:row;
  }

  .row img{
    width:30vw;
  }

  .intro{
    /* padding-right: 100px; */
    padding-right: 700px;
    padding-bottom: 300px;
    padding-top: 100px;
  }

  .container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    /* grid-row-gap: 15px;
    width: 100vw; */

  }

  .case_study{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

  }



  .ddd_project{
    grid-column: 1/2;
    grid-row: 4/5;

  }
  .decoded_project{
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .redgate_project{
    grid-column:3/4;
    grid-row:4/5;
  }

  .about_section{
    grid-column: 1/3;
    grid-row: 5/6;
    margin-top: 150px;
    padding-right: 200px;
  }

    .face{
      grid-row: 5/6;
      grid-column: 3/4;
      margin-top: 100px;
      margin-right: 300px;
      margin-left: -300px;
    }
    #headshot{
      grid-row: 5/6;
      grid-column: 3/4;
      width:300px;
      height:300px;

    }

    .ddd_outcome{
      grid-column: 1/-1;
      width:960px;
      height:740px;
      padding-left: 90px;

    }
    #redgate_outcome{
      grid-column: 1/-1;
      width:1000px;
      height:700px;
      padding-left: 90px;
    }

    iframe{
      grid-column: 1 / -1;
      height:700px;
      width:1000px;
      border: none;
      padding-left: 90px;
    }

    .photos{
      padding-top: 100px;
      padding-bottom: 50px;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }


    input[type=submit] {
      background-color: #008571;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #022B25;
    }

    .contact_form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      grid-row: 7/auto;
      grid-column: 1/-1;
      padding-right: 500px;
    }
    footer{
      background-color: #008571;
      color: white;
      grid-column: 1 / -1;
      grid-row: 8 /auto;
      padding-top: 30px;
      text-align: center;
      padding-left: 500px;

    }

  }

  @media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none; /* Your code here - set to default setting */
    transition: none; /* Your code here - set to default setting */
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}

  /* .face{
    grid-row: 5/6;
    grid-column: 2/auto;
    display: inline;
  } */






}
