body{
background-color: #FA7268;
font-size: 18px;
margin: 0;
padding: 0;

}

h1{
  font-family: "Raleway";
  font-size: 50px;
  font-weight: normal;
  line-height: 1.15;
  padding: 50px 0;
  text-align: left;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
  font-family: "Raleway"
}

h3{
  font-size: 25px;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
  font-family: "Raleway"
}
p{
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-family: "Georgia"
}

nav ul{
  list-style-type: none;
  padding-left: 30px;
}

nav li{
  display: inline;
  padding-right: 20px;
  padding-bottom: 20px;
}

nav a{
  color: white;
  font-weight: lighter;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position:  absolute ;
  top:   -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a:focus{
  top: 0px;
}

:focus{

  border: 2px solid white;
}

footer{
  background-color: #FA7268;
  color: white;
  grid-column: 1 / -1;
  grid-row: 7 / span 1;
  padding-top: 30px;
  text-align: center;
}

.container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 15px;
  width: 100vw;
}

.intro{
  grid-column: 1/-1;
  grid-row: 2/3;
  padding-left: 30px;
  padding-right: 30px;
}
.project_section{
  background-color: white;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-left: 30px;
  padding-right: 30px;
}

.about_section{
  background-color: #FA7268;
  color: white;
  grid-column: 1/-1;
  padding-left: 30px;
  padding-right: 30px;
}
.contact_form{
  background-color: white;
  color: black;
  grid-column: 1/-1;
  padding-left: 30px;
  padding-right: 30px;
}
.nav{
  font-family: "Raleway";
  font-weight: lighter;
  color: white;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-color: #FA7268;
  padding-left: 20px 0;
  text-align: left;
}
.project_titles{
  color: #FA7268;
  text-align: center;
  grid-column: 1/-1;
  padding-left: 60px;
}

.project_description{
  text-align: center;
  grid-column: 1/-1;
  padding-left: 30px;
}
.project_link{
  text-align: center;
  color: #FA7268;
  text-decoration: none;
  padding-left: 190px;
  font-family: "Arial"

}

iframe{
  grid-column: 1 / -1;
  height:450px;
  width:600px;
  border: none;
}

/* img{
  grid-column: 1/-1;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 30px;
} */

.laptop{
  grid-column: 1/-1;
  padding-top: 50px;
  padding-left: -150px;
  padding-right: 150px;
  margin: 0 auto;
}

#headshot{
  grid-column: 1/-1;
  width:300px;
  height:300px;
  padding-left: 200px;
  padding-right: 30px;
}

#redgate_outcome{
  grid-column: 1/-1;
  width:500px;
  height:350px;
  margin: 0 auto;
}

.ddd_outcome{
  grid-column: 1/-1;
  width:480px;
  height:370px;
  margin: 0 auto;

}
.row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* padding: 0 4px; */
  justify-content: space-around;
}

.row img {
  margin-top: 8px;
  margin-left: 30px;
  vertical-align: middle;
  width: 90vw;
}


@media screen and (min-width: 600px){
  .row{
    flex-direction:row;
  }

  .row img{
    width:45vw;
  }

}
